<h4 class="x-h4">Criar cardapio</h4>
<span class="x-span" (click)="abrirSection('produto')">+ Adicionar produto (Alimentação)</span>
<section id="produto_alimentacao" [hidden]="sectionAtiva != 'produto'">
  <form action="" [formGroup]="formularioCardapio">
    <div class="x-fileLabel">
        <div class="x-fileLabel__container">
            <span class="x-span--arquivo">Imagem do produto</span>
            <label for="file-product-img" class="x-label--file img-file" id="label-img-product">
                <img src="../../assets/img/cloud.png" /> Inserir imagem
            </label>
            <input type="file" name="" id="file-product-img" class="x-conteudo__file" accept=".jpg, .png, .jpeg, .bmp, .gif" [(ngModel)]="produtos.image" formControlName="imageProd"
            (change)="previewImg('#label-img-product', '#file-product-img'); nmArquivo('#label-img-product')">
        </div>
        <div class="x-imagePreview"></div>
    </div>  
    <input type="text" name="" id="" class="form-control x-conteudo__inputs" placeholder="Nome do produto" [(ngModel)]="produtos.name" 
    formControlName="nameProd" 
    [ngClass]="verificaValidTouched('nameProd')">
    <input type="text" name="" id="" class="form-control x-conteudo__inputs" placeholder="Descrição do produto" [(ngModel)]="produtos.description"
    formControlName="descriptionProd" 
    [ngClass]="verificaValidTouched('descriptionProd')">
    <input type="text" name="" id="" class="form-control x-conteudo__inputs" placeholder="Preço do produto" [(ngModel)]="produtos.price" formControlName="descriptionProd">
    <br>
    <div class="x-toggles">
        <label class="switch">
            <input type="checkbox" name="" id="desconto-check" (change)="triggerSomeEvent()">
            <span class="slider round"></span>
        </label>
        <h5>Possui desconto?</h5>
    </div>
    <input type="text" name="" id="" class="form-control x-conteudo__inputs" 
    placeholder="Desconto aplicado (Não é necessário colocar o %)"
      *ngIf="!descontoDisable" [(ngModel)]="produtos.desconto" formControlName="descontoProd">
    <select class="x-select1" name="" id="" [(ngModel)]="produtos.category" formControlName="categoryProd">
      <option value="">Escolher categoria</option>
      <option value="" disabled>--------------- Pratos ---------------</option>
      <option value="prato comercial">Comercial</option>
      <option value="prato executivo">Executivo</option>
      <option value="" disabled>--------------- Demais Comidas ---------------</option>
      <option value="pizza">Pizza</option>
      <option value="batata frita">Batata Frita</option>
      <option value="esfiha">Esfiha</option>
      <option value="hamburguer">Hamburguer</option>
      <option value="" disabled>--------------- Bebidas ---------------</option>
      <option value="refrigerante">Refrigerante</option>
      <option value="refrigerante">Água</option>
      <option value="sucos">Sucos</option>
      <option value="" disabled>--------------- Bebidas Alcólicas ---------------</option>
      <option value="sucos">Vodka</option>
      <option value="sucos">Cerveja</option>
      <option value="sucos">Vinho</option>
    </select>
  </form>
    <button class="x-saveButton" (click)="cadastroProduto()">Adicionar produto <b>+</b></button>
    <button class="x-saveButton"  (click)="abrirModal('produtoAdd')">Ver lista de produtos</button>
</section>
<button class="x-saveButton" (click)="abrirModal('sucess_save')">SALVAR</button>