<h4 class="x-h4">Detalhes Finais</h4>
<div class="x-fileLabel">
    <div class="x-fileLabel__container">
        <span class="x-span--arquivo">Nome do arquivo</span>
        <label for="file-logo-header" class="x-label--file img-file" id="label-img-wl-logo">
            <img src="../../assets/img/cloud.png" /> Inserir logo
        </label>
        <input type="file" name="" id="file-logo-header" class="x-conteudo__file" accept=".jpg, .png, .jpeg, .bmp, .gif">
    </div>
    <div class="x-imagePreview"></div>
</div>
<div class="x-fileLabel">
    <div class="x-fileLabel__container">
        <span class="x-span--arquivo">Nome do arquivo</span>
        <label for="file-logo-header" class="x-label--file img-file" id="label-img-wl-logo" (click) = "nmArquivo('#label-img-wl-logo')">
            <img src="../../assets/img/cloud.png" /> Inserir Favicon
        </label>
        <input type="file" name="" id="file-logo-header" class="x-conteudo__file" accept=".jpg, .png, .jpeg, .bmp, .gif">
    </div>
    <div class="x-imagePreview"></div>
</div>
<button class="x-saveButton" (click)="abrirModal('sucess_save')">SALVAR</button>