footer{
    min-height: 60px;
    height: auto;
    width: 100%;
    background: $footer-background;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 4px 12px inset rgba(0, 0, 0, 0.4);
    @media screen and (max-width:1160px){
        display: block;
    }
    .footer-text{
        color: $white;
    }
}