<div class="lightbox" *ngIf="modalAtivo === 'produtoAdd'">
  <div class="modal--productAdd">
    <span class="title">Produtos a serem cadastrados</span>
    <button class="close" (click)="abrirModal('')">X</button>
    <section class="listProducts">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>Imagem</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Desconto</th>
          <th>Categoria</th>
        </tr>
        <tr *ngFor="let produtos of cardapio">
          <td><img src="https://www.strokejoinville.com.br/wp-content/uploads/sites/804/2017/05/produto-sem-imagem-1.gif" alt=""></td>
          <td>{{produtos.name}}</td>
          <td>{{produtos.description}}</td>
          <td>R$ {{produtos.price}}</td>
          <td>{{produtos.desconto}}%</td>
          <td>{{produtos.category}}</td>
        </tr>
      </table>
    </section>
  </div>
</div>
