<div *ngIf="select === 'newSite'">
  <div class="x-conteudo__menuTabs">
      <label (click)="abrirAba('tab-3')">Template</label>
      <label (click)="abrirAba('tab-1')">Perfil da empresa</label>
      <label (click)="abrirAba('tab-5')">Detalhes Finais</label>
  </div>

  <!--Template-->
  <div class="x-conteudo__container" *ngIf="aba === 'tab-3'">
      <app-template-choice></app-template-choice>
  </div>

  <!--Perfil da empresa-->
  <div class="x-conteudo__container" *ngIf="aba === 'tab-1'">
        <app-perfil></app-perfil>
    </div>

  <!--Configurações Gerais-->
  <div class="x-conteudo__container" *ngIf="aba === 'tab-5'">
      <app-config></app-config>
  </div>  
</div>