<div *ngIf="select === 'WhiteLabel'">
  <div class="x-conteudo__menuTabs">
      <label (click)="abrirAba('tab-1')">Perfil da empresa</label>
      <label (click)="abrirAba('tab-2')">Cabeçalho/Header</label>
      <label (click)="abrirAba('tab-3')">Conteudo</label>
      <label (click)="abrirAba('tab-4')">Rodapé/Footer</label>
      <label (click)="abrirAba('tab-5')">Configurações</label>
  </div>
  <div class="x-conteudo__container" *ngIf="aba === 'tab-1'">
        <h4 class="x-h4">Perfil da empresa</h4>
        <input type="text" name="" id="" class="form-control x-conteudo__inputs">
        <input type="text" name="" id="" class="form-control x-conteudo__inputs">
        <input type="text" name="" id="" class="form-control x-conteudo__inputs">
        <input type="text" name="" id="" class="form-control x-conteudo__inputs">
        <input type="text" name="" id="" class="form-control x-conteudo__inputs">
        <button class="x-saveButton" (click)="abrirModal('sucess_save')">SALVAR</button>
    </div>
  <div class="x-conteudo__container" *ngIf="aba === 'tab-2'">
      <h4 class="x-h4">Criar cabeçalho</h4>
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <label for=""></label>
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <button class="x-saveButton" (click)="abrirModal('sucess_save')">SALVAR</button>
  </div>
  <div class="x-conteudo__container" *ngIf="aba === 'tab-3'">
      <h4 class="x-h4">Criar conteudo</h4>
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <button class="x-saveButton" (click)="abrirModal('sucess_save')">SALVAR</button>
  </div>
  <div class="x-conteudo__container" *ngIf="aba === 'tab-4'">
      <h4 class="x-h4">Criar rodapé</h4>
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <input type="text" name="" id="" class="form-control x-conteudo__inputs">
      <button class="x-saveButton" (click)="abrirModal('sucess_save')">SALVAR</button>
  </div>
  <div class="x-conteudo__container" *ngIf="aba === 'tab-5'">
      <h4 class="x-h4">Configurações gerais</h4>
      <div class="x-fileLabel">
          <div class="x-fileLabel__container">
              <span class="x-span--arquivo">Nome do arquivo</span>
              <label for="file-logo-header" class="x-label--file img-file" id="label-img-wl-logo" (click) = "nmArquivo('#label-img-wl-logo')">
                  <img src="../../assets/img/cloud.png" /> Inserir logo
              </label>
              <input type="file" name="" id="file-logo-header" class="x-conteudo__file" accept=".jpg, .png, .jpeg, .bmp, .gif">
          </div>
          <div class="x-imagePreview"></div>
      </div>        
      <div class="x-colors">
          <label for="cor-primaria">Escolha a cor primaria: </label>
          <input type="color" name="cor-primaria" id="cor-primaria">
      </div>
      <div class="x-colors">
          <label for="cor-secundaria">Escolha a cor secundária: </label>
          <input type="color" name="cor-secundaria" id="cor-secundaria">
      </div>
      <div class="x-colors">
          <label for="cor-terciaria">Escolha a cor  terciária: </label>
          <input type="color" name="cor-terciaria" id="cor-terciaria">
      </div>
      <h5 class="x-h4">Manifesto</h5>
      <div class="x-toggles">
          <label class="switch">
              <input type="checkbox" name="">
              <span class="slider round"></span>
          </label>
          <h5>Possui manifesto?</h5>
      </div>
      <div class="x-colors">
          <label for="cor-tema">Escolha a cor tema: </label>
          <input type="color" name="cor-tema" id="cor-tema">
      </div>
      <div class="x-fileLabel">
          <div class="x-fileLabel__container">
              <span class="x-span--arquivo">Nome do arquivo</span>
              <label for="file-splash" class="x-label--file label-splash" id="label-file-wl-splash" (click) = "nmArquivo('#label-file-wl-splash')">
                  <img src="../../assets/img/cloud.png" /> Inserir Splash
              </label>
              <input type="file" name="" id="file-splash" class="x-conteudo__file">
          </div>
      </div>
      <div class="x-toggles">
          <label class="switch">
              <input type="checkbox" name="">
              <span class="slider round"></span>
          </label>
          <label class="switch">
              <input type="checkbox" name="">
              <span class="slider round"></span>
          </label>
      </div>
      <input type="text" name="" id="" class="form-control x-conteudo__inputs" placeholder="Name">
      <input type="text" name="" id="" class="form-control x-conteudo__inputs" placeholder="Short Name">
      <button class="x-saveButton" (click)="abrirModal('sucess_save')">SALVAR</button>
  </div>  
</div>