<section class="x-menuLateral">
    <span id="newSite" (click)="onselect('newSite')" [class.is--active]="menu === 'newSite'">
        <img src="../../../../assets/img/contract.png" alt="ficcao">
        <div class="subMenu">
            Novo Site
        </div>
    </span>
    <!-- <span id="didatico" (mouseover) = "show('didatico')" [class.is--active]="menu === 'didatico'">
        <img src="../../../../assets/img/didatico-ico.png" alt="didatico">
    </span>
    <span id="empreendedorismo" (mouseover) = "show('empreendedorismo')" [class.is--active]="menu === 'empreendedorismo'">
        <img src="../../../../assets/img/bar-chart.png" alt="empreendedorismo">
    </span>
    <span id="historico" (mouseover) = "show('historico')" [class.is--active]="menu === 'historico'">
            <img src="../../../../assets/img/history-ico.png" alt="historico">
        </span>
    <span id="leitura-rapido" (mouseover) = "show('leitura-rapido')" [class.is--active]="menu === 'leitura-rapido'">
        <img src="../../../../assets/img/book.png" alt="book">
    </span>
    <span id="ppc" (mouseover) = "show('ppc')" [class.is--active]="menu === 'ppc'">
        <img src="../../../../assets/img/contract.png" alt="ppc">
    </span>
    <span id="contos" (mouseover) = "show('contos')" [class.is--active]="menu === 'contos'">
        <img src="../../../../assets/img/avatar.png" alt="contos">
    </span>
    <span id="espiritualidade" (mouseover) = "show('espiritualidade')" [class.is--active]="menu === 'espiritualidade'">
        <img src="../../../../assets/img/prayer.png" alt="espiritualidade">
    </span>
    <span id="configuracoes" (mouseover)="show('configuracoes')" [class.is--active]="menu === 'configuracoes'">
        <img src="../../../../assets/img/config.png" alt="">
    </span> -->
</section>