<h4 class="x-h4">Escolher Header/Footer</h4>
  <span class="x-span" (click)="abrirSection('headerAdd')">Escolher Header/Cabeçalho</span>
  <section id="headerAdd" [hidden]="sectionAtiva != 'headerAdd'">
    <div class="x-toggles">
        <label class="switch">
            <input type="checkbox" name="" (change)="triggerSomeEvent_headerCustom()">
            <span class="slider round"></span>
        </label>
        <h5>Header personalizado?</h5>
    </div>
    <div class="headerPersonalizado" *ngIf="!headerCustom">
      <textarea name="" id="" value="" cols="30" rows="20" class="x-textarea1" placeholder="Digite o código aqui"></textarea>
    </div>
    <div class="headerNormal" *ngIf="headerCustom">
      <div class="x-checkbox">
        <label for="sombreamento" (click)="triggerSomeEvent_sombreamento()">Sombreamento</label>
        <input type="checkbox" name="" id="sombreamento">
      </div>
      <div class="x-checkbox">
        <label for="btnHome" (click)="triggerSomeEvent_btnHome()">Botão Home</label>
        <input type="checkbox" name="" id="btnHome">
      </div>
      <select class="x-select1" name="" id="selectCorHeader" (change)="mudarCorHeader()">
        <option value="">Cor do Header</option>
        <option value="1" >Transparente</option>
        <option value="2">Branco</option>
        <option value="3">Cor primária</option>
        <option value="4">Cor primária (Dark)</option>
        <option value="5">Cor secundária</option>
        <option value="6">Cor secundária (Dark)</option>
        <option value="7">Cor tercerária</option>
      </select>
      <select class="x-select1" name="" id="selectCorMenuHeader" (change)="mudarCorMenuHeader()">
        <option value="">Cor do Menu - Header</option>
        <option value="1" >Transparente</option>
        <option value="2">Branco</option>
        <option value="3">Cor primária</option>
        <option value="4">Cor primária (Dark)</option>
        <option value="5">Cor secundária</option>
        <option value="6">Cor secundária (Dark)</option>
        <option value="7">Cor tercerária</option>
      </select>
      <select class="x-select1" name="" id="selectCorHoverMenuHeader" (change)="mudarCorHoverMenuHeader()">
        <option value="">Cor do Hover - Menu</option>
        <option value="1" >Transparente</option>
        <option value="2">Branco</option>
        <option value="3">Cor primária</option>
        <option value="4">Cor primária (Dark)</option>
        <option value="5">Cor secundária</option>
        <option value="6">Cor secundária (Dark)</option>
        <option value="7">Cor tercerária</option>
      </select>
      <select class="x-select1" name="" id="selectCorFontHeader" (change)="mudarCorFontHeader()">
        <option value="">Cor do Fonte - Header</option>
        <option value="1">Branco</option>
        <option value="2">Cinza #bbb</option>
        <option value="3">Cinza #999</option>
        <option value="4">Cinza #555</option>
        <option value="5">Cinza #222</option>
        <option value="6">Preto</option>
      </select>
      <h4 class="x-h4--templates">Escolha um template:</h4>
      <div class="headersTemplates">
          <input type="radio" name="headers" id="header1">
          <div class="x-radio1">
            <label for="header1">
              <div class="header1" [ngClass]="{'sombreamentoHeader': !sombreamento}" [style.backgroundColor] = "corHeader">
                <div class="logoH">
                  <img src="../../assets/img/logo-default.png" alt="">
                </div>
                <div class="menuH">
                  <ul [style.backgroundColor] = "corMenuHeader" [style.color] = "corFontHeader">
                    <li *ngIf="!btnHeader">Home</li>
                    <li>Cardápio</li>
                    <li [style.backgroundColor] = "corHoverMenuHeader">Contato</li>
                  </ul>
                </div>
              </div>
            </label>
          </div>
        <input type="radio" name="headers" id="header2">
          <div class="x-radio1">
            <label for="header2">
                <div class="header2" [ngClass]="{'sombreamentoHeader': !sombreamento}" [style.backgroundColor] = "corHeader">
                    <div class="logoH">
                      <img src="../../assets/img/logo-default.png" alt="">
                    </div>
                    <div class="menuH">
                      <ul [style.backgroundColor] = "corMenuHeader" [style.color] = "corFontHeader">
                        <li *ngIf="!btnHeader">Home</li>
                        <li>Cardápio</li>
                        <li [style.backgroundColor] = "corHoverMenuHeader">Contato</li>
                      </ul>
                    </div>
                </div>
            </label>
          </div>
      </div>
    </div>
    <button class="x-saveButton">Atualizar/adicionar header</button>
  </section>

<!-- Footer -->

<span class="x-span" (click)="abrirSection('footerCust')">Escolher Footer/Rodapé</span>
<section id="footerCust" *ngIf="sectionAtiva == 'footerCust'">
  <div class="x-toggles">
      <label class="switch">
          <input type="checkbox" name="" (change)="triggerSomeEvent_footerCustom()">
          <span class="slider round"></span>
      </label>
      <h5>Footer personalizado?</h5>
  </div>
  <div class="headerPersonalizado" *ngIf="!footerCustom">
    <textarea name="" id="" value="" cols="30" rows="20" class="x-textarea1" placeholder="Digite o código aqui"></textarea>
  </div>
  <div class="headerNormal" *ngIf="footerCustom">
    <div class="x-checkbox">
      <label for="sombreamentoFooter" (click)="triggerSomeEvent_sombreamentoFooter()">Sombreamento</label>
      <input type="checkbox" name="" id="sombreamentoFooter">
    </div>
    <div class="x-checkbox">
      <label for="btnHomeFooter" (click)="triggerSomeEvent_btnHomeFooter()">Botão Home</label>
      <input type="checkbox" name="" id="btnHomeFooter">
    </div>
    <select class="x-select1" name="" id="selectCorFooter" (change)="mudarCorFooter()">
      <option value="">Cor do Footer</option>
      <option value="1" >Transparente</option>
      <option value="2">Branco</option>
      <option value="3">Cor primária</option>
      <option value="4">Cor primária (Dark)</option>
      <option value="5">Cor secundária</option>
      <option value="6">Cor secundária (Dark)</option>
      <option value="7">Cor tercerária</option>
    </select>
    <select class="x-select1" name="" id="selectCorFontFooter" (change)="mudarCorFontFooter()">
      <option value="">Cor do Fonte - Footer</option>
      <option value="1">Branco</option>
      <option value="2">Cinza #bbb</option>
      <option value="3">Cinza #999</option>
      <option value="4">Cinza #555</option>
      <option value="5">Cinza #222</option>
      <option value="6">Preto</option>
    </select>
    <h4 class="x-h4--templates">Escolha um template:</h4>
    <div class="footersTemplates">
        <input type="radio" name="footers" id="footer1">
        <div class="x-radio1">
          <label for="footer1">
            <div class="footer1" [ngClass]="{'sombreamentoFooter': sombreamentoFooter}" [style.backgroundColor] = "corFooter">
              <span class="copyright" [style.color] = "corFontFooter">© Todos os direitos reservados empresa X</span>
            </div>
          </label>
        </div>
      <input type="radio" name="footers" id="footer2">
        <div class="x-radio1">
          <label for="footer2">
              <div class="footer2" [ngClass]="{'sombreamentoFooter': sombreamentoFooter}" [style.backgroundColor] = "corFooter">
                <ul [style.color] = "corFontFooter">
                  <li *ngIf="!btnFooter">Home</li>
                  <li>Cardápio</li>
                  <li>Contato</li>
                </ul>
                <span class="copyright" [style.color] = "corFontFooter">© Todos os direitos reservados empresa X</span>
              </div>
          </label>
        </div>
    </div>
  </div>
  <button class="x-saveButton">Atualizar/adicionar header</button>
</section>

<button class="x-saveButton" (click)="abrirModal('sucess_save')">SALVAR</button>