footer{
    min-height: 400px;
    height: fit-content;
    width: 100%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:1160px){
        display: block;
    }
    .site-map{
        width: 80%;
        max-width: 900px;
        @media screen and (max-width:1160px){
            width: 100%;
        }
        .tema {
            float: left;
            display: block;
            list-style: none;
            margin: 20px;
            h2{
                font-family: @anton;
                color: @white;
                letter-spacing: 3px;
                margin-bottom: 10px;
                font-size: @f-big;
            }
            ul{
                list-style: none;
                a{
                    color: @white;
                    text-decoration: none;
                    padding-left: 5px;
                    line-height: 25px;    
                    font-size: 12px;        
                    &:hover{
                        color: @p-color;
                    }
                }
            }
        }
    }
    .logo-site{
        width: 20%;
        max-width: 250px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h5{
            font-family: @atomic;
            font-size: @f-header;
            color: @p-color;
        }
    }
}