@import "./settings/__base.less";
@import "./components/base.less";
@import "./commons/base-commons.less";
@import "./modal/base-modais.less";
@import "./estilos/base-estilos.less";
@import "./login/base_login.less";

*{
    margin: 0;
    padding: 0;
    font-family: @roboto;
}
.x-main{
    width: 100%;
    height: auto;
    min-height: 100%;
    justify-content: center;
    background-color: @bg-main;
    // background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-position: inherit;
    .video {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}