.x-menuLateral{
    width: 80px;
    height: 100%;
    max-width: 100%;
    // background: @p-color;
    .align-v();
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    margin-top: -10px;
    justify-content: center;
    &__logo{

    }
    span{
        width: 60px;
        height: 60px;
        display: flex;
        // background: @p-color;
        justify-content: center;
        align-items: center;
        margin: 10px;
        cursor:pointer;
        &:hover{
            background: @p-dark;
            border-bottom-left-radius: 40%;
            border-top-left-radius: 40%;
            width: 95%;
            margin-right: 0%;
        }
    }
    .is--active{
        background: @p-dark;
        border-bottom-left-radius: 40%;
        border-top-left-radius: 40%;
        width: 95%;
        margin-right: 0%;
    }
}
@media @mobile{
    .x-menuLateral{
        display:none;
    }
    .menu-mobile {
        width: 35px;
        height: 3px;
        background: @p-color;
        position: absolute;
        right: 20px;
        &:before {
            content: "";
            width: 35px;
            height: 3px;
            background: @p-color;
            position: absolute;
            top: 10px;
        }
        &:after {
            content: "";
            width: 35px;
            height: 3px;
            background: @p-color;
            position: absolute;
            bottom: 10px;
        }
    }
}