<app-menu-lateral></app-menu-lateral>
<app-sub-menu></app-sub-menu>
<section class="x-conteudo" (mouseover)="hide()">
    <app-white-label></app-white-label>
    <app-new-site></app-new-site>
</section>
<app-modal-sucess-save></app-modal-sucess-save>
<app-produtos-cadastrados></app-produtos-cadastrados>
