.modal{
    &--productAdd{
        width: 900px;
        z-index: 1000;
        background: $white;
        position: relative;
        .title{
            color: $white;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            background: $p-color;
            text-transform: uppercase;
            font-size:$f-big;
            letter-spacing: 1px;
        }
        .close{
            top: 20px;
            right: 15px;
            position: absolute;
            border: none;
            background: none;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            outline: none;
            &:hover{
                color: $p-dark;
            }
        }
        .listProducts{
            height: 300px;
            width: 100%;
            padding: 10px;
            overflow: auto;
            table{
                width: 100%;
                tr{
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    &:nth-child(even) {
                        background: $gray-lightness;
                    }
                    &:nth-child(odd) {
                        background: $gray;
                    }
                    th{
                        text-transform: uppercase;
                        padding: 10px 0;
                        color: $white;
                        background: $p-dark;
                        width: 100%;
                    }
                    td{
                        width: 100%;
                        height: 130px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-transform: capitalize;
                        img{
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
}