.x-header{
    width: 100%;
    height: 70px;
    background: $white;
    padding: 10px 20px;
    // box-shadow: -10px 0px 10px $sombra;
    position: relative;
    box-sizing: border-box;
    @extend .align-v;
    border-bottom: solid 2px #f39c12;
    box-shadow: 1px 1px 12px rgba(0,0,0,.5);
    &__logo{

    }
    h5{
        font-family: $atomic;
        font-size: $f-header;
        color: $p-color;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
    .x-span{
        &--name{
            font-size: $f-xs;
            font-weight: bold;
            border-left: solid 2px $font-color2;
            padding: 0 10px;
            color: $font-color2;
            font-family: $serif;
            margin-left: 30px;
        }
    }
}