.x-login{
    &--principal{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: absolute;
        &:hover{
            &:before{
                transition: $muitoRapido;
                border-right: 240px solid $bg-container-hover;
            }
            &:after{
                transition: $muitoRapido;
                border-left: 240px solid $bg-container-hover;
            }
        }

        &__container{
            width: 300px;
            height: 450px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 0 50px;
            background: $bg-container;
            position: relative;
            z-index: 9999;
            &:before {
                content: "";
                width: 0;
                height: 0;
                border-top: 225px solid transparent;
                border-bottom: 225px solid transparent;
                border-right: 240px solid $bg-container;
                position: absolute;
                left: -240px;
                @media screen and (max-width:$tablet){
                    display: none;
                }   
            }
            &:after {
                content: "";
                width: 0;
                height: 0;
                border-top: 225px solid transparent;
                border-bottom: 225px solid transparent;
                border-left: 240px solid $bg-container;
                position: absolute;
                right: -240px;
                @media screen and (max-width:$tablet){
                    display: none;
                }   
            }
            &:hover {
                box-shadow: 0px 7px 5px -5px $sombra;
                transition: $muitoRapido;
                background: $bg-container-hover;
                &:after{
                    border-left: 240px solid $bg-container-hover;
                    transition: $muitoRapido;
                }
                &:before{
                    border-right: 240px solid $bg-container-hover;
                    transition: $muitoRapido;
                }
            }
            h4{
                color: $p-color;
                font-size: $f-titleLogin;
                line-height: 140px;
                margin-top: -50px;
                text-transform: uppercase;
                letter-spacing: 15px;
                font-weight: 400;
            }
            img{
                margin-top: -10px;
                margin-bottom: 40px;
                width: 250px;
            }    
            input{
                margin-bottom: 20px;
            }
            a{
                color: $p-color;
                text-decoration: none;
                font-family: $roboto;
                font-size: $f-large;
                cursor: pointer;
                margin-top: 40px;
                margin-bottom: 10px;
                line-height: 60px;
                &:hover{
                    color:$p-dark;
                }
            }
            .button1{
                font-weight: 400;
            }
        }
    }
}