<div class="x-sucess--save" *ngIf="modalAtivo === 'sucess_save'">
    <span (click)="abrirModal('fechar')">X</span>
    <img src="../../assets/img/checked.png" alt="sucesso">
    <h4>Salvo com sucesso!</h4>
</div>