.x-sign--up{
    width: 550px;
    position: fixed;
    height: 300px;
    background: #fff;
    top: 30%;
    box-sizing: content-box;
    right: 32%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.4);
    padding: 0 40px;
    box-sizing: border-box;
    animation: $modalShow $hyperRapido linear;
    z-index: 9999;
    span{
        position: absolute;
        top: 5px;
        right: 10px;
        font-family: cursive;
        font-weight: bold;
        color: $p-dark;
        cursor: pointer;
        &:hover{
            color: $s-color;
        }
    }
    img{
        width: 250px;
        margin-bottom: 30px;
    }
    h4{
        font-weight: bold;
        font-family: $roboto;
        white-space: nowrap;
        margin-bottom: 15px;
        color: $white;
        text-transform: uppercase;
        font-size: $f-medium;
        width: 110%;
        height: 40px;
        position: absolute;
        left: -5%;
        top: 40px;
        background-color: $p-dark;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        &:after,
        &:before {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        content: "";
        top: 100%;

        border-style: solid;
        border-color: transparent;
        }

        &:before {
            left: -2px;
            border-width: 0 28px 18px 0;
            border-right-color: $p-color;
            z-index: -1;
        }

        &:after {
            border-width: 18px 30px 0 0;
            border-top-color: $p-color;
            right: -2px;
            z-index: -1;
        }
    }
    h5 {
        font-size: $f-medium;
        color: $font-color1;
        text-transform: uppercase;
        margin-top: 70px;
        margin-bottom: 20px;
        font-family: $roboto;
    }
}
.x-sign--hide{
    animation: $modalShow $hyperRapido reverse;
}