.x-conteudo{
    padding: 0px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 120px;
    box-sizing: border-box;
    @media screen and (max-width:$mobile){
        padding: 15px;
    }
    input[type=text]{
        @extend .inputs-text2;
    }
    input[type=email]{
        @extend .inputs-text2;
    }
    &__menuTabs{
        width: 100%;
        overflow: auto;
        margin-top: 25px;
        @extend .align-h;
        input[type=radio]{
            -webkit-appearance: none;
        }
        label{
            max-width: 250px;
            min-width: 170px;
            width: 25%;
            height: 50px;
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $font-color1;
            text-transform: uppercase;
            &:hover{
                color: $p-dark;
                border-bottom: $p-dark solid 1px;
                cursor: pointer;
            }
        }
    }
    &__container{
        .x-toggles{
            display: flex;
            align-items: center;
            h5{
                color: $font-color2;
                font-size: $f-large;
                font-family: $serif;
                margin-left: 10px;
                font-weight: lighter;
                text-transform: uppercase;
            }
        }
        .x-h4{
            font-size: $f-xs;
            font-family: $serif;
            color: $p-dark;
            font-weight: bold;
            text-align: center;
            padding: 20px 0;
            text-transform: uppercase;
            border-bottom: $p-dark solid 1px;
            margin: 35px auto;
            width: 50%;
        }
        .x-span{
            padding: 15px;
            color: $font-color2;
            font-weight: bold;
            text-transform: uppercase;
            background: $span-section-background;
            width: 100%;
            height: 50px;
            position: relative;
            display: flex;
            align-items: center;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:hover{
                // @extend .ligado-hover;
                box-shadow: none;
                z-index: 1;
                padding-left: 50px;
                color: $p-color;
                cursor: pointer;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                transition: $hyperRapido;
                &:before{
                    content: "";
                    position: absolute;
                    left: 15px;
                    border-bottom: 15px solid transparent;
                    border-top: 15px solid transparent;
                    border-left: 30px solid $p-dark;
                    border-right: 40px solid transparent;
                    display: none;
                }
                // &:after{
                //     content: "";
                //     position: absolute;
                //     right: -110px;
                //     border-bottom: 40px solid transparent;
                //     border-top: 40px solid transparent;
                //     border-left: 70px solid $p-dark;
                //     border-right: 40px solid transparent;
                // }
            }
        }
        section {
            padding: 15px 15px 50px;
            border: dashed $section-border-color 2px;
            background: $section-background;
            .x-checkbox{
                padding: 10px;
                width: 100%;
                display: flex;
                height: 50px;
                box-sizing: border-box;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: $white;
                background: $gray-darkness;
                margin: 20px 0;
                label {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    padding: 7px;
                }
                input[type=checkbox]{
                    -webkit-appearance: none;
                    width: 30px;
                    height: 30px;
                    border: solid 1px $white;
                    outline: none;
                    &:checked{
                        border: none;
                        @extend .ligado-hover;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: $f-xs;
                        &:before{
                            content: "✔";
                            color: $s-color;
                        }
                    }
                }
            }
            .x-h4--templates{
                color: $font-color2;
                font-size: $f-xs;
                text-transform: uppercase;
                margin: 50px 0 30px;
                text-align: center;
            }
            .templates{
                height: 400px;
                overflow: auto;
                padding: 15px 20px;
                width: 100%;
                display: flex;
                align-items: center;
            }
            .headersTemplates{
                padding: 15px 20px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .x-radio1{
                    margin-bottom: 20px;
                    background: transparent !important;
                }
            }
            
            .footersTemplates{
                padding: 15px 20px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .x-radio1{
                    margin-bottom: 20px;
                    background: transparent !important;
                }
            }
        }
    }
    .x-saveButton{
        @extend .button1;
    }
    .x-fileLabel{
        display: block;
        align-items: center;
        margin-top: 10px;
        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
            .x-span{
                &--arquivo{
                    width: 70%;
                    height: 40px;
                    padding: 10px;
                    border-bottom: 1px solid $gray-light;
                    display: flex;
                    align-items: center;
                    color: $font-color2;
                    font-family: $serif;
                    font-weight: bold;
                    font-size: $f-medium;
                }
            }
        }
        .x-label{
            &--file{
                @extend .input-file1;
                img{
                    width: 32px;
                    margin: 10px;
                }
            }
        }
    }
    &__file{
        display: none;
    }
    .x-colors{
        height: 60px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background: $gray-light;
        margin-top: 15px;
        align-items: center;
        cursor: pointer;
        &:hover{
            @extend .ligado-hover;
        }
        label{
            color: $white;
            text-transform: uppercase;
            font-size: $f-medium;
            padding: 0 0 10px 0;
            display: block;
            width: 100%;
            cursor: pointer;
        }
        input{
            border: none;
            background: none;
            width: 100%;
            outline: none;
            cursor: pointer;
        }
    }
    &__inputs{
        margin-top: 20px;
    }
}