.footer1{
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    span{
        width: 100%;
    }
}
.footer2{
    width: 600px;
    background: #fff;
    ul{
        display: flex;
        justify-content: space-evenly;
        li{
            list-style: none;
            padding: 15px 0 40px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    .copyright{
        padding: 15px 0;
        display: block;
        text-align: center;
    }
}
.sombreamentoFooter{
    box-shadow: 0px -3px 3px $light-sombra;
}