.header1{
    width: 700px;
    height: 130px;
    background: #fff;
    margin: 10px;
    position: relative;
    .logoH{    
        width: 200px;
        height: 150px;
        position: absolute;
        top: -10px;
        left: 10px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .menuH{
        ul {
            display: flex;
            list-style: none;
            width: 300px;
            background: $gray-lightness;
            position: absolute;
            bottom: 0;
            right: 0;
            justify-content: space-evenly;
            height: 40px;
            align-items: center;
            text-transform: uppercase;
            color: $font-color1;
            li{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                // &:hover{
                //     color: $white;
                //     background: $p-color
                // }
            }
        }
    }
}
.header2{
    width: 700px;
    height: 130px;
    margin: 10px;
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
    background: $white;
    .logoH{    
        width: 150px;
        height: 100px;
        margin-top: -10px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .menuH{
        ul {
            display: flex;
            list-style: none;
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            justify-content: space-evenly;
            height: 40px;
            align-items: center;
            text-transform: uppercase;
            color: $font-color1;
            li{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                // &:hover{
                //     color: $white;
                //     background: $p-color
                // }
            }
        }
    }
}
.sombreamentoHeader{
    box-shadow: 0px 3px 3px $light-sombra;
}