.x-menuLateral{
    width: 80px;
    height: 100%;
    max-width: 100%;
    @extend .align-v;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    justify-content: center;
    background: $p-color;
    box-shadow: 0px 7px 10px rgba(0,0,0,.4);
    &__logo{

    }
    span{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        cursor:pointer;
        &:hover{
            background: $p-dark;
            box-shadow: 2px 2px 1px inset rgba(0, 0, 0, 0.2);
            > .subMenu{
                display: flex;
                animation: $sanfona_subMenu ease-out $hyperRapido;
                box-sizing: border-box;
            }
        }
        .subMenu{
            display: none;
            position: absolute;
            left: 80px;
            width: max-content;
            padding: 0 30px;
            width: 200px;
            background: $p-dark;
            height: 70px;
            align-items: center;
            justify-content: center;
            color: $white;
            font-size: $f-xs;
            text-transform: uppercase;
            font-weight: bold;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
            box-shadow: -1px 1px 3px inset rgba(0, 0, 0, 0.4);
            text-shadow: 2px 1px 1px rgba(0,0,0,0.3);
            border-bottom: $p-color solid 1px;
            z-index: 9999;
        }
    }
    .is--active{
        background: $p-dark;
        border-bottom-left-radius: 40%;
        border-top-left-radius: 40%;
        margin-right: 0%;
    }
}
@media screen and (max-width:$mobile){
    .x-menuLateral{
        display:none;
    }
    .menu-mobile {
        width: 35px;
        height: 3px;
        background: $p-color;
        position: absolute;
        right: 20px;
        &:before {
            content: "";
            width: 35px;
            height: 3px;
            background: $p-color;
            position: absolute;
            top: 10px;
        }
        &:after {
            content: "";
            width: 35px;
            height: 3px;
            background: $p-color;
            position: absolute;
            bottom: 10px;
        }
    }
}