.x-subMenu{
    width: 250px;
    height: 60%;
    overflow-y: auto;
    max-width: 250px;
    position: absolute;
    left:83px;
    background: $subMenu-color;
    z-index: 1;
    top:23%;
    &::-webkit-scrollbar{width: 10px;}
    &::-webkit-scrollbar-button{background-color: $p-dark;height: 10px;}
    &::-webkit-scrollbar-track-piece{background-color: $p-color;}
    &::-webkit-scrollbar-thumb{background-color: $p-dark;}
    .is--active{
        &__focus{
            background-color: $p-dark;
        }
    }
    h4 {
        color: $white;
        text-transform: uppercase;
        text-align: center;
        // margin: 20px 0 0;
        font-size: $f-xs;
        letter-spacing: 3px;
        border-bottom: $white solid 4px;
        // padding: 0 0 20px;
        font-weight: 100;
        // text-shadow: -1px 1px 2px rgba(0,0,0,.2);
        background: $gray-dark;
        font-family: $anton;
        height: 60px;
        @extend .align-h;
        @extend .align-v;
    }
    span{
        background: transparent;
        width: 100%;
        height: 50px;
        font-size: $f-large;
        justify-content: flex-start;
        @extend .align-v;
        cursor: pointer;
        color: $white;
        font-weight: 100;
        padding-left: 15px;
        max-width: 235px;
        &:hover{
            background: $p-dark;
        }
    }
}
.is--active{
    &__subMenu{
        animation: $sanfona $rapido linear;
    }
    &__span{
        animation: $walkLeft $hyperRapido linear;
    }
}