<h4 class="x-h4">Escolher template</h4>
  <span class="x-span" (click)="abrirSection('cores')">Cores principais</span>
  <section id="cores" [hidden]="sectionAtiva != 'cores'">
      <div class="x-colors">
          <label for="cor-primaria">Escolha a cor primaria: </label>
          <input type="color" name="cor-primaria" id="cor-primaria" (change)="triggerSomeEvent_colorPrimaria()">
      </div>
      <div class="x-colors">
          <label for="cor-primariaDark">Escolha a cor primaria/Dark: </label>
          <input type="color" name="cor-primaria" id="cor-primariaDark" (change)="triggerSomeEvent_colorPrimariaDark()">
      </div>
      <div class="x-colors">
          <label for="cor-secundaria">Escolha a cor Secundária: </label>
          <input type="color" name="cor-primaria" id="cor-secundaria" (change)="triggerSomeEvent_colorSecundaria()">
      </div>
      <div class="x-colors">
          <label for="cor-secudariaDark">Escolha a cor Secundária/Dark: </label>
          <input type="color" name="cor-primaria" id="cor-secudariaDark" (change)="triggerSomeEvent_colorSecundariaDark()">
      </div>
      <br>
  </section>

  <span class="x-span" (click)="abrirSection('body_template')">Escolher Template</span>
  <section id="body_template" [hidden]="sectionAtiva != 'body_template'">
    <div class="x-checkbox">
      <label for="quem-somos">Quem somos</label>
      <input type="checkbox" name="" id="quem-somos" (change)="triggerSomeEvent_aboutUs()">
    </div>
    <div class="x-checkbox">
      <label for="Mapa">Mapa</label>
      <input type="checkbox" name="" id="Mapa">
    </div>
    <h4 class="x-h4--templates">Escolha um template:</h4>
    <div class="templates">
        <input type="radio" name="template" id="template1">
        <div class="x-radio1">
          <label for="template1">
          </label>
        </div>
      <input type="radio" name="template" id="template2">
        <div class="x-radio1">
          <label for="template2">
          </label>
        </div>
    </div>
  </section>

  <span class="x-span" (click)="abrirSection('update_aboutUs')" *ngIf="!aboutUsDisable">Editar página "Quem somos"</span>
  <section id="update_aboutUs" [hidden]="sectionAtiva != 'update_aboutUs'">
    <textarea name="aboutUs" value="" cols="30" rows="20" class="x-textarea1" placeholder="Digite o texto aqui"></textarea>
  </section>

  <span class="x-span" (click)="abrirSection('benefits')">Vantagens/Beneficios</span>
  <section id="benefits" [hidden]="sectionAtiva != 'benefits'">
    <form [formGroup]="benefitsForm" method="post" class="x-form i--medium bgWhite">
      <input type="text" name="benefit1" class="form-control x-conteudo__inputs" formControlName="benefit1" [ngClass]="verificaValidTouched('benefit1')" placeholder="Vantagem 1">
      <input type="text" name="benefit2" class="form-control x-conteudo__inputs" formControlName="benefit2" [ngClass]="verificaValidTouched('benefit2')" placeholder="Vantagem 2">
      <input type="text" name="benefit3" class="form-control x-conteudo__inputs" formControlName="benefit3" [ngClass]="verificaValidTouched('benefit3')" placeholder="Vantagem 3">
    </form>
  </section>

  <span class="x-span" (click)="abrirSection('map')">Mapa</span>
  <section id="map" [hidden]="sectionAtiva != 'map'">
    <form [formGroup]="mapForm" method="post" class="x-form i--medium bgWhite">
      <input type="text" name="map" class="form-control x-conteudo__inputs" formControlName="map" [ngClass]="verificaValidTouched2('map')" placeholder="URL Google Maps">
    </form>
  </section>

  <span class="x-span" (click)="abrirSection('redes-sociais')">Redes sociais</span>
  <section id="redes-sociais" [hidden]="sectionAtiva != 'redes-sociais'">
    <input type="text" name="facebook" class="form-control x-conteudo__inputs" placeholder="Fã Page (Facebook)">
    <input type="text" name="instagram" class="form-control x-conteudo__inputs" placeholder="Instagram">
    <input type="text" name="oficialSite" class="form-control x-conteudo__inputs" placeholder="Official Site">
    <input type="text" name="twitter" class="form-control x-conteudo__inputs" placeholder="Twitter">
    <input type="text" name="blog" class="form-control x-conteudo__inputs" placeholder="Blog">
    <input type="text" name="youtube" class="form-control x-conteudo__inputs" placeholder="Canal do Youtube">
  </section>

  <span class="x-span" (click)="abrirSection('tags_head')">Tags Head/Meta tags</span>
  <section id="tags_head" [hidden]="sectionAtiva != 'tags_head'">
    <form [formGroup]="seoForm" method="post" class="x-form i--medium bgWhite">
      <input type="text" name="title" class="form-control x-conteudo__inputs" formControlName="title" [ngClass]="verificaValidTouched3('title')" placeholder="Titulo Inicial (Usar o formato padrão Geri de title)">
      <input type="text" name="description" class="form-control x-conteudo__inputs" formControlName="description" [ngClass]="verificaValidTouched3('description')" placeholder="Description">
      <input type="text" name="tags" class="form-control x-conteudo__inputs" formControlName="tags" [ngClass]="verificaValidTouched3('tags')" placeholder="Tags (Coloque [ , ] após cada tag)">
    </form> 
  </section>
  <button class="x-saveButton" (click)="abrirModal('sucess_save')">SALVAR</button>