// Principais cores do site
$p-color: #f39c12;
$p-dark: #e67e22;
$s-color: #f1c40f;
$s-dark: #8e44ad;
$t-color: #00f;

$black: #000;
$gray: #ccc;
$white: #fff;
$gray-dark:#333;
$gray-light:#ced4da;
$gray-darkness: #222;
$gray-lightness: #efefef;

$bg-image-efect-light: linear-gradient(to right, $p-color, $p-dark);

// Cores principais fontes
$font-color1: #555;
$font-color2: #999;

// Cores principais sombras
$sombra: rgba(0,0,0,0.9);
$light-sombra: rgba(0,0,0,0.4);

//Background Main
$bg-main: $white;

//Sub-menu color
$subMenu-color:rgba(51, 51, 51, 0.9);

// Inputs
$i-color: #f1c40f;
$i-hoverColor: #d6ae0c;

// Botões
$btn-color: $p-color;
$btn-hoverColor: #d6ae0c;
$btn-bg-image-hover: $bg-image-efect-light;

// Login
$bg-container: rgba(0, 0, 0, .2);
$bg-container-hover: rgba(0, 0, 0, .4);

//has-erro
$has-erro-color: #f00;

//Section
$span-section-background: $white;
$section-background: $gray-lightness;
$section-border-color: $gray-light;

//Footer
$footer-background: $font-color2;

//Templates Colors
$template-background: $white;

$template-cabecalho-background:#16a085;
$template-logo-background:#c0392b;
$template-menu-background:#2c3e50;
$template-banner-background:#8e44ad;
$template-conteudo-background:#2980b9;
$template-footer-background:#f1c40f;