// Keyframes

@keyframes modalZoom{
    from{transform: scale(0);}
    to{transform: scale(1);}
}
@keyframes modalZoom2{
    from{transform: scale(0);left:-400px;bottom: -1000px;}
    to{transform: scale(1);;left:0px;bottom: 0px;}
}
@keyframes zoomOut{
    to{transform: scale(0.92);}
}
@keyframes zoomIn{
    to{transform: scale(1.10);}
}
@keyframes sanfona{
    0%{width: 0%;overflow: hidden;}
    100%{width:100%;}
}
@keyframes sanfona_subMenu{
    0%{width: 0px;overflow: hidden;font-size:0px;}
    75%{font-size: 0px}
    100%{width:200px;font-size:22px;}
}
@keyframes andarEsquerda{
    from{margin-bottom: -1000px;}
    to{margin-bottom: 0px;}
}

@keyframes moveStar{
    from{transform: translateX(0px)}
    to{transform: translateX(-3000px)}
}

// Animation

$maisZoom: zoomIn;
$menosZoom: zoomOut;
$sanfona: sanfona;
$sanfona_subMenu: sanfona_subMenu;
$walkLeft: andarEsquerda;
$modalShow: modalZoom;
$modalHide: modalZoom2;
$moveStar: moveStar;

// Velocidade

$hyperRapido: 0.2s;
$muitoRapido: 0.4s;
$rapido: 1s;
$poucoRapido: 2s;
$poucoLento: 4s;
$lento: 6s;
$muitoLento: 8s;
$hyperLento: 15s;

//Animação background

$sun: 150s;
$sun-red: 150s;
