<h4 class="x-h4">Perfil da empresa</h4>
<span class="x-span" (click)="abrirSection('empresa')">Nome da empresa</span>
<section id="empresa" [hidden]="sectionAtiva != 'empresa'">
  <form [formGroup]="formulario" class="x-form i--medium bgWhite">
    <input type="text" class="form-control x-conteudo__inputs" placeholder="Razão social" formControlName="name" [ngClass]="verificaValidTouched('name')">
    <input type="text" class="form-control x-conteudo__inputs" placeholder="Telefone" formControlName="telefone" [ngClass]="verificaValidTouched('telefone')">
    <input type="email" class="form-control x-conteudo__inputs" placeholder="E-mail completo" formControlName="email" [ngClass]="verificaValidTouched('email')">
    <input type="text" id="zipCodeCompany" class="form-control x-conteudo__inputs" placeholder="CEP" (blur)="verificarCep()" formControlName="cep" [ngClass]="verificaValidTouched('cep')">
    <input type="text" class="form-control x-conteudo__inputs" placeholder="Endereço" formControlName="address" value="{{cepPlus.logradouro}}" [ngClass]="verificaValidTouched('address')" *ngIf="cepPlus != undefined || cepPlus != null">
    <input type="text" class="form-control x-conteudo__inputs" placeholder="Número" formControlName="number" [ngClass]="verificaValidTouched('number')" *ngIf="cepPlus != undefined || cepPlus != null" mask="00000-000">
    <input type="text" class="form-control x-conteudo__inputs" placeholder="Complemento" formControlName="complemento" [ngClass]="verificaValidTouched('complemento')" *ngIf="cepPlus != undefined || cepPlus != null">
    <input type="text" class="form-control x-conteudo__inputs" placeholder="Bairro" formControlName="bairro" value="{{cepPlus.bairro}}" [ngClass]="verificaValidTouched('bairro')" *ngIf="cepPlus != undefined || cepPlus != null">
    <input type="text" class="form-control x-conteudo__inputs" placeholder="Cidade" formControlName="city" value="{{cepPlus.localidade}}" [ngClass]="verificaValidTouched('city')" *ngIf="cepPlus != undefined || cepPlus != null">
    <input type="text" class="form-control x-conteudo__inputs" placeholder="UF" formControlName="uf" value="{{cepPlus.uf}}" [ngClass]="verificaValidTouched('uf')" *ngIf="cepPlus != undefined || cepPlus != null">
  </form>
</section>
<button class="x-saveButton" (click)="abrirModal('sucess_save')">SALVAR</button>