@import "./settings/__base.scss";
@import "./components/base.scss";
@import "./commons/base-commons.scss";
@import "./modal/base-modais.scss";
@import "./estilos/base-estilos.scss";
@import "./login/base_login.scss";

@import './settings/themes';

// framework component styles which will use your new theme
@import '~@nebular/theme/styles/globals';

// install the framework
@include nb-install() {
  @include nb-theme-global();
};


*{
    margin: 0;
    padding: 0;
    font-family: $roboto;
}
.x-main{
    width: 100%;
    height: auto;
    min-height: 100%;
    justify-content: center;
    background-color: $bg-main;
    // background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-position: inherit;
    .video {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}